
name: Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [closed]

jobs:
  prepare:
    runs-on: self-hosted
    steps:
        - name: Clone repository
          uses: actions/checkout@v4
          with:
            ref: main
  build:
    runs-on: self-hosted
    steps:
        - name: Install dependencies
          run: npm install

        - name: Build React Web
          run: npm run build

  deploy:
    runs-on: self-hosted
    needs: [build]
    steps:
        - name: Reload nginx
          run: sudo systemctl reload nginx

        # - name: Deploy to server
        #   uses: appleboy/scp-action@v0.1.3
        #   with:
        #     host: ${{ secrets.SERVER_HOST }}
        #     username: ${{ secrets.SERVER_USER }}
        #     key: ${{ secrets.SSH_PRIVATE_KEY }}
        #     source: "build/*"
        #     target: "/var/www/timemanager-fe/build/"
            
        # - name: Run deployment script on server
        #   uses: appleboy/ssh-action@v1.0.3
        #   with:
        #     host: ${{ secrets.SERVER_HOST }}
        #     username: ${{ secrets.SERVER_USER }}
        #     key: ${{ secrets.SSH_PRIVATE_KEY }}
        #     script: |
        #       nginx -s reload

        # - name: Prepare deployment directory
        #   run: |
        #     mkdir -p ~/var/www/timemanager-fe
        #     cp -r * ~/var/www/timemanager-fe
