
name: Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [closed]

jobs:
  prepare:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: /var/www/timemanager-fe

      - name: Update code
        working-directory: /var/www/timemanager-fe
        run: git pull origin main
        # - name: Checkout and update code
        #   run: cd /var/www/timemanager-fe && git pull
  build:
    runs-on: self-hosted
    needs: [prepare]
    steps:
        - name: Install dependencies
          working-directory: /var/www/timemanager-fe
          run: npm install

        - name: Build React Web
          working-directory: /var/www/timemanager-fe
          run: npm run build

  deploy:
    runs-on: self-hosted
    needs: [build]
    steps:
        - name: Reload nginx
          run: sudo systemctl reload nginx
