
name: Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [closed]

jobs:
  prepare:
    runs-on: self-hosted
    steps:
        - name: Checkout and update code
          run: |
            cd /var/www/timemanager-fe
            git fetch origin
            git pull origin main
  build:
    runs-on: self-hosted
    needs: [prepare]
    steps:
        - name: Install dependencies
          working-directory: /var/www/timemanager-fe
          run: npm install

        - name: Build React Web
          working-directory: /var/www/timemanager-fe
          run: |
            rm -rf dist/
            npm run build

  deploy:
    runs-on: self-hosted
    needs: [build]
    steps:
        - name: Reload nginx
          run: sudo systemctl reload nginx
