
name: Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [closed]

jobs:
  prepare:
    runs-on: self-hosted
    steps:
        - name: Checkout and update code
          uses: actions/checkout@v4
          with:
            ref: main
            fetch-depth: 0
  build:
    runs-on: self-hosted
    needs: [prepare]
    steps:
        - name: Install dependencies
          run: npm install

        - name: Build React Web
          run: npm run build

  deploy:
    runs-on: self-hosted
    needs: [build]
    steps:
        - name: Reload nginx
          run: sudo systemctl reload nginx
